<form [formGroup]="cartform" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-header>
        <h1>{{data.title}}</h1>
      </mat-card-header>
      <mat-card-title>
        {{data.productname}}
      </mat-card-title>
      <mat-card-content>
        <mat-form-field class="mat-50">
          <mat-label>Quantity</mat-label>
          <input formControlName="quantity" matInput (input)="calculateTotal()">
        </mat-form-field>
        <mat-form-field class="mat-50">
          <mat-label>Unit</mat-label>
          <input formControlName="unitPrice" matInput readonly>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Subtotal</mat-label>
          <input formControlName="totalPrice" matInput readonly>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Save</button>
        <button mat-raised-button color="accent" (click)="ClosePopup()">Close</button>
      </mat-card-actions>
    </mat-card>
  </form>
  